.login-container {
    width: 350px;
    margin: 40px auto;
    padding: 25px;
    background-color:
    rgba(255, 255, 255, 0.938);
    border-radius: 10px;
    box-shadow:
    0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.logo-box {
    background-color: #dbe7f7;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    color: #000000;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-group input {

    padding: 12px;
    border-radius: 6px;
    color: black;
    background-color: #ffffff;
    border: 1px solid #918d8d;
}

.login-button {

    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background-color: #2d6cff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}

.login-button:hover {
    background-color: #15803d;
}

.login-button:active {
    transform: scale(0.98);
}

.error-message {

    color: red;
    text-align: center;
    font-size: 14px;
}
.back-button {
    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 8px;

    background-color: #555;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}
.back-button:hover {
  background-color: #b1b1b1;
}

.back-button:active {
  transform: scale(0.98);
}

.back-link {
    display: block;
    width: 100%;
}